$coh-blue: #326dfd;
$coh-blue-dark: #15406b;
$coh-red: #d42b2b;
$coh-red-dark: #571214;
$coh-yellow: #fff000;
$coh-yellow-dark: #ffb400;

@mixin cohbox {
    background-color: rgba(0, 0, 0, 0.7);
    border: 4px ridge $coh-blue;
    border-radius: 10px;
}

@mixin cohscrollbar {
    scrollbar-color: $coh-blue transparent;

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: transparent;
        border-radius: 10px;
    }
    &::-webkit-scrollbar {
        width: 10px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $coh-blue;
        border-radius: 10px;
        border: 3px outset $coh-blue;
    }
}