$base-font-family: "Futura", "Arial", sans-serif;
$label-font-family: "Futura Heavy", "Arial", sans-serif;
$header-font-family: "Red Circle", "Arial", sans-serif;
$background-color: #000;
$text-color: #eee;
$responsive-width: 600px;
