@font-face {
  font-family: "Futura";
  src: url("../fonts/futura-book.otf");
}
@font-face {
  font-family: "Futura Heavy";
  src: url("../fonts/futura-heavy.ttf");
}
@font-face {
  font-family: "Futura Heavy";
  font-style: italic;
  src: url("../fonts/futura-heavy-oblique.ttf");
}
@font-face {
  font-family: "Red Circle";
  src: url("../fonts/redcircl.ttf");
}

@import "normalize/import-now";
@import "variables";
@import "cohmixins";

@mixin outlinetext {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@mixin gradienttext($color1, $color2) {
  color: $color1;
  background: linear-gradient($color1 0, $color2 66%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background: $background-color;
  color: $text-color;
  padding: 24px;
  font-family: $base-font-family;
  font-size: 18px;
  max-width: 1200px;
  margin: 0 auto;
  @include cohscrollbar();
  @media screen and (max-width: $responsive-width) {
    padding: 6px;
  }
}

h1,
h2,
h3 {
  font-family: $header-font-family;
  font-weight: normal;
  font-style: italic;
}

h1 {
  border-bottom: 1px solid $text-color;
}

h3 {
  line-height: 1.6;
}

p {
  line-height: 1.5;
  b {
    font-family: $label-font-family;
    font-weight: normal;
    color: #fff;
  }
}

footer {
  margin-top: 24px;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
}

button {
  position: relative;
  box-sizing: border-box;
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #0e376b;
  background-color: #063b71;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  padding: 2px 0;
  width: 160px;
  height: 40px;
  color: #fff;
  font-family: $label-font-family;
  font-size: 16px;
  -webkit-app-region: no-drag;
  margin: 0 12px 12px 0;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active {
    border-style: inset;
    outline: none;
  }
  &.cancel {
    border-color: #5a5077;
    background-color: #862f2c;
  }
  &.confirm {
    border-color: #3d787b;
    background-color: #598e3b;
  }
  &::after {
    content: "";
    display: block;
    width: 152px;
    height: 25px;
    border-radius: 18px 18px 14px 14px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 0;
    left: 3px;
  }
}

input[type="radio"],
input[type="checkbox"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 2px ridge $coh-blue;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  vertical-align: -2px;
  background-color: $background-color;
  cursor: pointer;

  &::after {
    position: relative;
    display: block;
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #000;
  }

  &:checked {
    background-color: $coh-blue;
    background-image: linear-gradient($coh-blue, $coh-blue-dark);
  }

  &:focus {
    outline: none;
  }
}

input[type="radio"] {
  margin: 0 6px 0 8px;
}

input[type="checkbox"] {
  margin: 0 6px 0 12px;
}

.select-wrapper {
  position: relative;
  display: inline-block;

  select {
    position: relative;
    display: inline-block;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 2px ridge $coh-blue;
    border-radius: 16px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    font-family: $label-font-family;
    font-size: 16px;
    color: $text-color;
    padding: 4px 8px;
    width: auto;
    min-width: 64px;

    &:focus {
      outline: none;
    }

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 $text-color;
    }
  }

  &:focus {
    outline: none;
  }

  &::after {
    position: relative;
    display: inline-block;
    content: " ";
    width: 0;
    height: 0;
    top: 0;
    left: -28px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px ridge $coh-blue;
    pointer-events: none;
  }
}

label {
  font-family: $label-font-family;

  & + .select-wrapper {
    margin-left: 12px;
  }
}

a {
  color: $coh-yellow;
  &:visited:not(.never-visited) {
    color: $coh-yellow-dark;
  }
}

.container {
  @include cohbox();

  .inner {
    padding: 20px;
    h2 {
      @include gradienttext($coh-yellow, $coh-yellow-dark);
    }
    @media screen and (max-width: $responsive-width) {
      padding: 10px;
    }
  }
}

.topnav {
  display: flex;
  flex-direction: row;
  align-content: center;
  h3 {
    font-family: $label-font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    padding: 0 8px;
    margin: 0;
    position: relative;
    top: -2px;
    @include gradienttext(#fff, $coh-blue);
  }
  ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    list-style: none;
    margin: 0 0 0 16px;
    padding: 0;
    li {
      list-style: none;
      padding: 0 8px;
      height: 24px;
      white-space: nowrap;
      &.current {
        font-family: $header-font-family;
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        @include gradienttext($coh-yellow, $coh-yellow-dark);
        position: relative;
        bottom: -1px;
      }
      a, a:visited, a:hover {
        font-family: $header-font-family;
        font-style: italic;
        font-weight: normal;
        font-size: 18px;
        text-decoration: none;
        color: #fff;
        position: relative;
        bottom: -1px;
        &:hover { 
          @include gradienttext($coh-yellow, $coh-yellow-dark);
        }
      }
      &.sep-before {
        margin-left: 8px;
        border-left: 1px solid #fff;
      }
    }
  }
  @media screen and (max-width: $responsive-width) {
    h3 { display: none; }
    ul {
      margin: 0 0 0 8px;
      flex-direction: column;
      li {
        font-size: 10px;
        padding: 0 0 8px 0;
        &.label {
        display: none;
      }}
    }
  }
}

.tab-wrapper {
  position: relative;
  top: -2px;
  @media screen and (max-width: $responsive-width) {
    &::before,
    &::after {
      display: block;
      position: absolute;
      color: $coh-yellow;
      font-size: 16px;
      @include outlinetext();
      top: 4px;
      pointer-events: none;
    }
    &::before {
      content: "\25C0";
      left: 6px;
    }
    &::after {
      content: "\25B6";
      right: 6px;
    }
  }

  ul.tabs {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0 0 0 12px;
    padding: 0;
    @media screen and (max-width: $responsive-width) {
      overflow-x: auto;
    }

    li {
      display: block;
      padding: 0 24px 4px 24px;
      font-family: $label-font-family;
      background-color: #15406b;
      cursor: pointer;
      border: 4px outset $coh-blue-dark;
      border-radius: 0 0 32px 32px;
      @include outlinetext();
      white-space: nowrap;
      &.-selected {
        background-color: $coh-blue;
        border: 4px outset $coh-blue;
      }
    }
  }
}

table.default {
  border-spacing: 0;
  border-collapse: collapse;

  thead {
    tr {
      vertical-align: middle;
      background-color: rgba(33, 33, 33, 0.7);
    }
    th {
      @include outlinetext();
      text-align: center;
      color: $coh-yellow;
      padding: 8px;
    }
  }
  tbody {
    tr {
      vertical-align: top;
      &:nth-child(2n-1) {
        background-color: $coh-blue-dark;
      }
      th {
        @include outlinetext();
        padding: 8px 24px;
        text-align: left;
      }
      td {
        padding: 8px 4px;

        .theme-name {
          @include outlinetext();
          font-family: $label-font-family;
        }
        .theme-desc {
          color: $coh-yellow;
          padding-right: 8px;
        }
      }
    }
  }
}

.help {
  cursor: help;
}

.error {
  text-align: center;
  font-family: $label-font-family;
  color: $coh-red;
}

.note {
  color: $coh-yellow;
  font-family: $label-font-family;
}

.grid-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 12px;
  @media screen and (max-width: $responsive-width) {
    grid-template-columns: none;
    grid-auto-rows: fit-content;
    grid-auto-flow: row;
  }
}

.clickable {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.themes {
  @extend .grid-2;
  & > * {
    @media screen and (max-width: $responsive-width) {
      &:nth-child(n + 1) {
        order: 1;
      }
      &:nth-child(n + 2) {
        order: 3;
      }
      &:nth-child(n + 3) {
        order: 2;
      }
      &:nth-child(n + 4) {
        order: 4;
      }
    }
  }
  .theme {
    display: inline-block;
    font-family: $header-font-family;
    font-style: italic;
    font-size: 18px;
    @include outlinetext();
    border-style: ridge;
    border-width: 4px;
    border-radius: 24px;
    text-align: center;
    padding: 11px 24px;
    box-sizing: content-box;
    @extend .clickable;

    &.primary {
      background-color: $coh-blue;
      background-image: linear-gradient(#83b2ed, $coh-blue, $coh-blue-dark);
      border-color: $coh-blue;
    }
    &.secondary {
      background-color: $coh-red;
      background-image: linear-gradient(#ffaf9f, $coh-red, $coh-red-dark);
      border-color: $coh-red;
    }
    &.-locked::after {
      content: " \1F512";
      font-style: normal;
    }
    &:not(.-locked)::after {
      content: " \1F513";
      font-style: normal;
    }
  }
}

.heroname {
  font-size: 22px;
  font-family: $label-font-family;
  .clickable {
    padding: 0 4px;
  }
  &.suggested {
    text-align: center;
    font-size: 28px;
  }
}

.archetypes {
  .at-header {
    background-color: $coh-blue-dark;
    @extend .grid-2;

    h4 {
      background-repeat: no-repeat;
      background-position: 0 5px;
      background-size: 32px 32px;
      font-family: $label-font-family;
      font-size: 18px;
      height: 32px;
      margin: 8px 0 8px 16px;
      padding: 10px 0 0 48px;
      @include outlinetext();
      @media screen and (max-width: $responsive-width) {
        margin: 4px auto;
      }

      &.ars {
        background-image: url(../images/asoldier_icon.png);
      }
      &.arw {
        background-image: url(../images/awidow_icon.png);
      }
      &.bla {
        background-image: url(../images/blaster_icon.png);
      }
      &.bru {
        background-image: url(../images/brute_icon.png);
      }
      &.con {
        background-image: url(../images/controller_icon.png);
      }
      &.cor {
        background-image: url(../images/corruptor_icon.png);
      }
      &.def {
        background-image: url(../images/defender_icon.png);
      }
      &.dom {
        background-image: url(../images/dominator_icon.png);
      }
      &.mas {
        background-image: url(../images/mastermind_icon.png);
      }
      &.pea {
        background-image: url(../images/peacebringer_icon.png);
      }
      &.scr {
        background-image: url(../images/scrapper_icon.png);
      }
      &.sen {
        background-image: url(../images/sentinel_icon.png);
      }
      &.sta {
        background-image: url(../images/stalker_icon.png);
      }
      &.tan {
        background-image: url(../images/tanker_icon.png);
      }
      &.war {
        background-image: url(../images/warshade_icon.png);
      }
    }
    h5 {
      color: $coh-yellow;
      @include outlinetext();
      text-align: right;
      font-family: $label-font-family;
      font-size: 16px;
      margin: 8px 28px 8px 0;
      padding: 10px 0 0 0;
      @media screen and (max-width: $responsive-width) {
        margin: 4px auto;
        padding: 0 0 6px 0;
      }
    }
  }
  .power-sets {
    @extend .grid-2;
    width: 66%;
    margin: 24px auto;
    @media screen and (max-width: $responsive-width) {
      width: 100%;
    }
    .header {
      font-family: $base-font-family;
      font-size: 14px;
      text-align: center;
      padding: 0 0 12px 0;
      @media screen and (max-width: $responsive-width) {
        &:first-child {
          @include gradienttext(#83b2ed, $coh-blue);
        }
        &:nth-child(n + 2) {
          @include gradienttext(#ffaf9f, $coh-red);
        }
      }
    }

    .power-set {
      font-family: $label-font-family;
      font-size: 22px;
      text-align: center;
      padding: 6px 0;
      @media screen and (min-width: ($responsive-width + 1)) {
        &:nth-last-child(n + 3) {
          border-bottom: 1px solid $text-color;
        }
      }
      @media screen and (max-width: $responsive-width) {
        &:nth-last-child(2n + 3) {
          border-bottom: 1px solid $text-color;
        }
      }
      &.pri .power-set-name {
        @include gradienttext(#83b2ed, $coh-blue);
      }
      &.sec .power-set-name {
        @include gradienttext(#ffaf9f, $coh-red);
      }
      .issue-badge {
        display: inline-block;
        font-family: $base-font-family;
        font-size: 50%;
        padding: 0.1em 0.4em;
        color: #fff;
        background-color: $coh-blue;
        border-radius: 4px;
        margin-left: 0.4em;
        vertical-align: middle;
      }
    }
  }
}

.names {
  column-count: 3;
  column-gap: 12px;
  @media screen and (max-width: $responsive-width) {
    column-count: 1;
  }
  & > * {
    margin: 0 0 12px 0;
    @extend .heroname;
  }
}

.theme-chooser {
  display: block;
  position: fixed;
  top: 25vh;
  left: 25vw;
  width: 50vw;
  max-height: 50vh;
  max-width: 1200px;
  overflow-y: auto;
  @include cohbox();
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px 20px 8px 20px;
  @media screen and (max-width: $responsive-width) {
    padding: 10px 10px 2px 10px;
    top: 5vh;
    left: 10px;
    right: 10px;
    width: auto;
    max-height: 90vh;
  }
  h3 {
    margin-top: 0;
  }
  .theme-selects {
    display: grid;
    grid-auto-rows: fit-content;
    grid-auto-flow: row;
    grid-row-gap: 12px;
    margin-bottom: 12px;
    @media screen and (min-width: 960px) {
      grid-auto-flow: initial;
      grid-template-columns: 33% 66%;
      grid-column-gap: 12px;
    }
  }
  .theme-chooser-buttons {
    text-align: center;
  }
}

select#issue {
  min-width: 120px;
}