@import "variables";
@import "cohmixins";

.tooltip {
    position: absolute;
    display: block;
    visibility: hidden;
    @include cohbox();
    min-width: 150px;
    max-width: 50vw;
    font-size: 16px;
    line-height: 1.5;
    padding: 6px;

    @media screen and (max-width: $responsive-width) {
        min-width: 50vw;
        max-width: 85vw;
    }
}